@import url('https://rsms.me/inter/inter.css');

:root {
  --color-light: rgb(49, 39, 39);
  --color-dark: #d1b2b2;
  --color-signal: #2a2121;
  
  --color-background: var(--color-light);
  --color-text: var(--color-dark);
  --color-accent: var(--color-signal);
  
  --size-bezel: .5rem;
  --size-radius: 4px;
  
  line-height: 1.4;
  
  font-family: 'Inter', sans-serif;
  font-size: calc(.6rem + .4vw);
  color: var(--color-text);
  background: var(--color-background);
  font-weight: 300;
  padding: 0 calc(var(--size-bezel) * 3);
}





.card {
  background: var(--color-background);
  padding: calc(4 * var(--size-bezel));
  margin-top: calc(4 * var(--size-bezel));
  border-radius: var(--size-radius);
  border: 3px solid var(--color-shadow, currentColor);
  box-shadow: .5rem .5rem 0 var(--color-shadow, currentColor);
  
  
  

}


.l-design-widht {
  max-width: 40rem;
  padding: 2rem;
}

.input {
  position: relative;
}
.button-group {
  margin-top: 30px
}
button {
    <!-- HTML !-->
    <button class="button-78" role="button">Button 78</button>
    
    /* CSS */
    .button-78 {
      align-items: center;
      appearance: none;
      background-clip: padding-box;
      background-color: initial;
      background-image: none;
      border-style: none;
      box-sizing: border-box;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      flex-direction: row;
      flex-shrink: 0;
      font-family: Eina01,sans-serif;
      font-size: 16px;
      font-weight: 800;
      justify-content: center;
      line-height: 24px;
      margin: 0;
      min-height: 64px;
      outline: none;
      overflow: visible;
      padding: 19px 26px;
      pointer-events: auto;
      position: relative;
      text-align: center;
      text-decoration: none;
      text-transform: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: middle;
      width: auto;
      word-break: keep-all;
      z-index: 0;
    }
    
    @media (min-width: 768px) {
      .button-78 {
        padding: 19px 32px;
      }
    }
    
    .button-78:before,
    .button-78:after {
      border-radius: 80px;
    }
    
    .button-78:before {
      background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
      content: "";
      display: block;
      height: 100%;
      left: 0;
      overflow: hidden;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -2;
    }
    
    .button-78:after {
      background-color: initial;
      background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
      bottom: 4px;
      content: "";
      display: block;
      left: 4px;
      overflow: hidden;
      position: absolute;
      right: 4px;
      top: 4px;
      transition: all 100ms ease-out;
      z-index: -1;
    }
    
    .button-78:hover:not(:disabled):before {
      background: linear-gradient(92.83deg, rgb(255, 116, 38) 0%, rgb(249, 58, 19) 100%);
    }
    
    .button-78:hover:not(:disabled):after {
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      transition-timing-function: ease-in;
      opacity: 0;
    }
    
    .button-78:active:not(:disabled) {
      color: #ccc;
    }
    
    .button-78:active:not(:disabled):before {
      background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
    }
    
    .button-78:active:not(:disabled):after {
      background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
      bottom: 4px;
      left: 4px;
      right: 4px;
      top: 4px;
    }
    
    .button-78:disabled {
      cursor: default;
      opacity: .24;
    }
}


.icon {
  display: inline-block;
  height: 0em;
  margin-right: .5em;
}



